*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}
body{
    background: #242424;
    position: relative;

}
.container{
    position: absolute;
    background: #fff;
    width: 80%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    border-radius: 10px;
    border: 2px solid #000;
}
.tabs{
    display: flex;
    justify-content: space-around;
}
.tabs h3{
    background: #ccc;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
}
.content{
    padding: 50px 40px;
}
.content p{
    text-align: justify;
    line-height: 2;
    color: #393939;
}
.content p{
    display: none;
}
.content .active{
    display: block;
}
.tabs .active{
    background: #fff;
    color: blue;
    border-bottom: 2px solid #000;
}